body{
	background:#F1F2F4;
	font-family: 'Montserrat', sans-serif;
}
.profile-client{
padding-top:40px;
padding-bottom:40px;
}
.profile-client .profile-form{
	background: #ffff;
    padding:20px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px;
}
.profile-client h1{
	margin-bottom:20px;
	text-align:center;
}
#myalert{
	display:none;
}
@media (max-width:576px){
	body{
		background:#ffffff;
	}
	.profile-client{
		padding-top:0px;
		padding-bottom:0px;
	}
	.profile-client .profile-form{
		border-radius:0px;
		box-shadow:none;
	}
}


