body{
	background:#F1F2F4;
	font-family: 'Montserrat', sans-serif;
}

.header{
	background:#5087ED;
	padding:15px 0px;
	color:#ffffff;
}
.header .bars{
	font-size: 20px;
    padding-top: 4px;
}
.header .text-course-manager{
	font-size:20px;
	padding-top:4px;
}
.header .txt-title{
	background-color:#6C9AEF;
	border:0px;
	font-style:italic;
	color:#ffffff;
}
.header
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}
 .plus-btn{
	width:40px;
	height:40px;
	color:#ffffff;
	border-radius:100%;
	text-align:center;
	font-size: 22px;
    padding-top: 4px;
}
.list-header{
	border-bottom:2px solid #dee2e6;
}
.list-header .row{
	padding:15px 0px;
}
.list-content .row{
	background:#ffffff;
	border-bottom:1px solid #dee2e6;
	padding:15px 0px;
}
.list-content .row a{
	color:#000000;
	text-decoration:none;
}
.list-content .row.bg-transparent{
	padding:25px 0px 15px;
}
.fixed-btn{
	position:fixed;
	right: 10px;
    bottom: 25px;
	box-shadow: 0px 4px 6px #000;
}

@media (max-width:768px){
	.header{
		background:#ffffff;
		color:#000000;
		
	}
	.header .txt-title{
	background-color:#ffffff;
	color:#000000;
	border-radius: 0px;
    border: 1px solid #000;
}
.header
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}
}


